
<div class="post-create-container">
    <button mat-icon-button style="float:right" matDialogClose>
        <mat-icon>close</mat-icon>
    </button>
    <div class="form-container">
        <header>
            <h1>Create Post</h1>
        </header>
        <form (ngSubmit)="submit()" class=" ml-7 w-[90%] h-[50vh]">
            <mat-form-field style="width: 100%;">
              <mat-label>Post content</mat-label>
            
              <textarea matInput [(ngModel)]="postContent" name="postContent" placeholder="What's happening?"[(ngModel)]="postContent"></textarea >
              <!-- <mat-error *ngIf="createPostForm.controls['postContent'].touched && createPostForm.controls['postContent'].invalid">
                <span *ngIf="createPostForm!.controls['postContent'].hasError('required')">This field is mandatory.</span>
              </mat-error> -->
            </mat-form-field>

            <!-- <mat-form-field style="width: 100%;">
                <mat-label>postImage</mat-label>
                <input matInput type="file" formControlName="postContent" required>
                <mat-error *ngIf="createPostForm.controls['postContent'].touched && createPostForm.controls['postContent'].invalid">
                  <span *ngIf="createPostForm!.controls['postContent'].hasError('required')">This field is mandatory.</span>
                </mat-error>
              </mat-form-field> -->

              
                
                    
                
                  
              

              <mat-dialog-actions align="end">
                <button mat-raised-button color="primary" type="submit"  (click)="submit() " >Post</button>
             
                
                
            </mat-dialog-actions>
            <input type="file"  (change)="onFileChange($event)"   accept="image/*">
                    <div *ngIf="imagePreviewUrl">
                      <img [src]="imagePreviewUrl" alt="Image Preview">
                    </div>
          </form>
          
    </div>

</div>



