<p>comment works!</p>

<div class="sm:p-4 p-2.5 border-t border-gray-100 font-normal space-y-3 relative dark:border-slate-700/40"> 
        
    <div class="flex items-start gap-3 relative">

        <a href="profile.html"> <img src="../../../assets/man.png" alt="" class="w-10 h-10 mt-1 rounded-full"> </a>

        <div class="flex-1">

            <a href="profile.html" class="text-black font-medium inline-block dark:text-white"> Steeve </a>

            <p class="mt-0.5"> I love taking photos of nature and animals. 🌳🐶</p>

        </div>

    </div>

    <div class="flex items-start gap-3 relative">

        <a href="profile.html"> <img src="../../../assets/man.png" alt="" class="w-10 h-10 mt-1 rounded-full"> </a>

        <div class="flex-1">

            <a href="profile.html" class="text-black font-medium inline-block dark:text-white"> Caleb </a>

            <p class="mt-0.5">  I enjoy people and emotions. 😊😢 </p>

        </div>

    </div> 

    <div class="flex items-start gap-3 relative">

        <a href="profile.html"> <img src="../../../assets/man.png" alt="" class="w-10 h-10 mt-1 rounded-full"> </a>


        <div class="flex-1">

            <a href="profile.html" class="text-black font-medium inline-block dark:text-white"> Daniel </a>

            <p class="mt-0.5">  Photography is my passion. 🎨📸   </p>

        </div>

    </div>

</div>