
<div class="reset-password-layout">
    
    <div class="signup-container flex">
       
        <!--Headline section-->
        <div class="welcome-note-div">
            <!-- <h3 class="css-3d-text">Talky</h3> -->
            
            <div class="headline-icon-wrapper">
                <img src="../../../assets/Talky-12-6-2023.png" alt="" class="">
                <p class="headline"> Forgotten your password Talky?</p>
                <p class="headline">
                    Oh Dear..... you’ll lost your password...Worry not Talky .....You have a chance to recover it 
                </p>
             </div>
        </div>
        <!--Form section-->
        <div  class="form-wrapper">
            <img src="../../../assets/Talky-12-6-2023.png" alt="" class="w-[30%]">
            <h3>Reset Password</h3>
            <form action="" [formGroup]="resetForm">
                <div class="label-input-group">
                    <label>Reset Token</label><br>
                    <input type="text" name="" placeholder="Reset Token" formControlName="resetToken">
                </div>
             
    
                <div class="label-input-group">
                    <label>New Password</label><br>
                    <input type="password" name=""  placeholder="New Password" formControlName="newPassword">
                </div>
                <div class="label-input-group">
                    <label> Confirm Password</label><br>
                    <input type="password" name=""  placeholder=" Confirm Password" formControlName="confirmPassword">
                </div>
    
                <div class="label-input-group">
                    <input type="submit" class="sign-up-btn" value="reset" (click)="submit()" >
                </div>
    
                <div class="form-footer">
                    <a href="/signup" routerLink="/">Go back to login Talky .....Login</a>
              
                </div>
            </form>
           
    
        </div>
    </div>
    
    </div>