.label-input-group{
    width: 100%;
    margin: 0.5rem
}

label{
    font-weight: 700;
}

input{
    width:100%;
    padding: 12px 15px;
    margin: 8px 0;
    background-color: #f8f8f8;
    border-radius:10px;
    filter: drop-shadow(0 0 0.75rem rgb(206, 203, 203));

}