<!-- <p>view-profile works!</p>-->

<div class="view-profile-container">
    <button mat-icon-button style="float:right" matDialogClose>
        <mat-icon>close</mat-icon>
    </button>
    <div class="form-container">
        <header class="mb-[4rem]">
            <h1>Profile</h1>
            <div class=" inset-y-0 start-0 flex items-center ps-1 pointer-events-none">
                <img class="w-[80px]" src="../../../assets/man.png" alt="">
                <div class="flex flex-col space-y-0">
                  <p class="font-bold text-[1.25rem]">SteveHotcodes</p>
                <p class="italic text-[0.75rem]">Ondieki Stephen</p>
                <p class="italic text-[0.75rem]">ondiekistephen.gmail.com</p>
                <p >Memeber since :</p>
                </div>
                
            </div>

            <div class="stats  flex justify-center space-x-3 mt-4">
              <div class="followers w-[10rem]  border border-black p-3">
                <p class="followers-title text-xl ">Followers</p>
                <p class="text-[2rem] font-bold">20</p>
              </div>

              <div class="followers w-[10rem]  border border-black p-3">
                <p class="followers-title text-xl ">Posts</p>
                <p class="text-[2rem] font-bold">70</p>
              </div>
                      
            </div>
        </header>
       
          
    </div>

</div>