
<div id="welcome-wrapper">
    <div class=" logo flex items-center ">
        <img src="../../../assets/Talky-12-6-2023.png"  alt="" class="w-[300px]">
         <!-- <h1>Welcome to Talky</h1> -->

    </div>
    
    

    
    <div id="login-signup-wrapper">
        <button routerLink="signup">Sign up</button>
        <button routerLink="login">Log In</button>
    </div>

</div>
<div class="welcome-divs-wrapper flex justify-center items-center  space-x-[1rem] mt-[100px] text-[30px]">
    <div class="welcome-note-div   ">
        <div class="headline-icon-wrapper text-white">
            <!-- <img src="../../../assets/Talky-12-6-2023.png" alt="" class=""> -->
            <p  class="headline "> New In Talky?</p>
            <p class="headline"> Welcome to Talky</p>
            <div class="icon-feature-div mt-7">
              
                <p class="text">
                   🤼 Meet like minded people
                </p>
            </div>
    
            <div class="icon-feature-div mt-7">
              
    
                <p class="text">
                   🔍 Search for your interest
                </p>
            </div>
    
            <div class="icon-feature-div mt-7 mb-7">
           
    
                <p class="text">
                   💌 Socialize and Chat
                </p>
            </div>
    
            
            <button routerLink="signup">Get started</button>
    
        </div>
    </div>
    
    
</div>
