.layout{
    width:70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    flex-direction: column;
}

.user-details-div{
    width:60%;
    display:flex;
    align-items: center;
    border-bottom: 0.32px solid black;
}
input{
    width:100%;
    padding: 12px 15px;
	margin: 8px 0;
    background-color: #f8f8f8;
    border-radius:10px;
    filter: drop-shadow(0 0 0.75rem rgb(206, 203, 203))

}