
 
<div class="layout">
    <div class="user-details-div" *ngFor="let following of followingList">
        <div class="flex flex-col justify-center">
            <img src="{{following.profileImageUrl}}" alt="" class="w-[10%]">
            <img src="../../../assets/man.png" alt="" *ngIf="following.profileImageUrl==isNone" class="w-[10%]">
            <div>{{following.fullName}}</div>
        </div>
        <div>
            <!-- <button type="submit" class="text-sm rounded-full py-1.5 px-3.5 bg-secondery bg-[#0E2A47] text-white">Unfollow</button> -->
            <button type="submit" class="text-sm rounded-full py-1.5 px-3.5 bg-secondery bg-[#0E2A47] text-white " (click)="toggleFollowingState(following.followingID)" > {{ getButtonText(following.followingID) }}</button>
        </div>
    </div>
    
</div>